
@import 'variables';

/* ----------------------------------------------
##  Reset Default Style ##
------------------------------------------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section{
    display: block;
}

body{
    line-height: 1.3;
    background: #eee;
}

ol, ul{
    list-style: none;
}

:root{
    font-family: $primary_font;
}